<!--Planes de pago-->
<div align="center">

    <h4 style="color:#223F92">Planes de pago</h4>
    <br>

    <br>
    <br>

    <div >
        <input type="radio" aria-label="Checkbox for following text input"><a style="color:#223F92">Pago de contado</a><br><a style="color:#223F92"> Importe </a> <a id="71">$$$$$$</a>
        <br><br>
        <input type="radio" aria-label="Checkbox for following text input"><a style="color:#223F92">5 Pagos</a><br><a style="color:#223F92"> Importe mensual</a> <a id="72">$$$$$$</a>
        <br><br>

    </div>
    <br><br><br>
    <div>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Registrar</button>
    </div>


</div>