<!--Pago-->
<div align="center">

    <h4 style="color:#223F92">Método de pago</h4>
    <br>

    <br>
    <br>

    <div >
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Transferencia bancaria</button>
        <br><br><br>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Tarjeta de crédito</button>
        <br><br><br>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Ficha bancaria</button>
        <br><br><br>

    </div>



</div>
