    <!--Horario-->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="table-responsive">
                    <table class="table table-bordered" id="horarios">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Hora</th>
                                <th scope="col">Lunes</th>
                                <th scope="col">Martes</th>
                                <th scope="col">Miercoles</th>
                                <th scope="col">Jueves</th>
                                <th scope="col">Viernes</th>
                                <th scope="col">Sabado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="row700">
                                <th rowspan="2">7:00</th>
                                <td id="lunes700"></td>
                                <td id="maartes700"></td>
                                <td id="miercoles700"></td>
                                <td id="jueves700"></td>
                                <td id="viernes700"></td>
                                <td id="sabado700"></td>
                            </tr>
                            <tr id="row730">
                                <td id="lunes730"></td>
                                <td id="maartes730"></td>
                                <td id="miercoles730"></td>
                                <td id="jueves730"></td>
                                <td id="viernes730"></td>
                                <td id="sabado730"></td>
                            </tr>
                            <tr id="row800">
                                <th rowspan="2">8:00</th>
                                <td id="lunes800"></td>
                                <td id="maartes800"></td>
                                <td id="miercoles800"></td>
                                <td id="jueves800"></td>
                                <td id="viernes800"></td>
                                <td id="sabado800"></td>
                            </tr>
                            <tr id="row830">
                                <td id="lunes830"></td>
                                <td id="maartes830"></td>
                                <td id="miercoles830"></td>
                                <td id="jueves830"></td>
                                <td id="viernes830"></td>
                                <td id="sabado830"></td>
                            </tr>
                            <tr id="row900">
                                <th rowspan="2">9:00</th>
                                <td id="lunes900"></td>
                                <td id="maartes900"></td>
                                <td id="miercoles900"></td>
                                <td id="jueves900"></td>
                                <td id="viernes900"></td>
                                <td id="sabado900"></td>
                            </tr>
                            <tr id="row930">
                                <td id="lunes930"></td>
                                <td id="maartes930"></td>
                                <td id="miercoles930"></td>
                                <td id="jueves930"></td>
                                <td id="viernes930"></td>
                                <td id="sabado930"></td>
                            </tr>
                            <tr id="row1000">
                                <th rowspan="2">10:00</th>
                                <td id="lunes1000"></td>
                                <td id="maartes1000"></td>
                                <td id="miercoles1000"></td>
                                <td id="jueves1000"></td>
                                <td id="viernes1000"></td>
                                <td id="sabado1000"></td>
                            </tr>
                            <tr id="row1030">
                                <td id="lunes1030"></td>
                                <td id="maartes1030"></td>
                                <td id="miercoles1030"></td>
                                <td id="jueves1030"></td>
                                <td id="viernes1030"></td>
                                <td id="sabado1030"></td>
                            </tr>
                            <tr id="row1100">
                                <th rowspan="2">11:00</th>
                                <td id="lunes1100"></td>
                                <td id="maartes1100"></td>
                                <td id="miercoles1100"></td>
                                <td id="jueves1100"></td>
                                <td id="viernes1100"></td>
                                <td id="sabado1100"></td>
                            </tr>
                            <tr id="row1130">
                                <td id="lunes1130"></td>
                                <td id="maartes1130"></td>
                                <td id="miercoles1130"></td>
                                <td id="jueves1130"></td>
                                <td id="viernes1130"></td>
                                <td id="sabado1130"></td>
                            </tr>
                            <tr id="row1200">
                                <th rowspan="2">12:00</th>
                                <td id="lunes1200"></td>
                                <td id="maartes1200"></td>
                                <td id="miercoles1200"></td>
                                <td id="jueves1200"></td>
                                <td id="viernes1200"></td>
                                <td id="sabado1200"></td>
                            </tr>
                            <tr id="row1230">
                                <td id="lunes1230"></td>
                                <td id="maartes1230"></td>
                                <td id="miercoles1230"></td>
                                <td id="jueves1230"></td>
                                <td id="viernes1230"></td>
                                <td id="sabado1230"></td>
                            </tr>
                            <tr id="row1300">
                                <th rowspan="2">13:00</th>
                                <td id="lunes1300"></td>
                                <td id="maartes1300"></td>
                                <td id="miercoles1300"></td>
                                <td id="jueves1300"></td>
                                <td id="viernes1300"></td>
                                <td id="sabado1300"></td>
                            </tr>
                            <tr id="row1330">
                                <td id="lunes1330"></td>
                                <td id="maartes1330"></td>
                                <td id="miercoles1330"></td>
                                <td id="jueves1330"></td>
                                <td id="viernes1330"></td>
                                <td id="sabado1330"></td>
                            </tr>
                            <tr id="row1400">
                                <th rowspan="2">14:00</th>
                                <td id="lunes1400"></td>
                                <td id="maartes1400"></td>
                                <td id="miercoles1400"></td>
                                <td id="jueves1400"></td>
                                <td id="viernes1400"></td>
                                <td id="sabado1400"></td>
                            </tr>
                            <tr id="row1430">
                                <td id="lunes1430"></td>
                                <td id="maartes1430"></td>
                                <td id="miercoles1430"></td>
                                <td id="jueves1430"></td>
                                <td id="viernes1430"></td>
                                <td id="sabado1430"></td>
                            </tr>
                            <tr id="row1500">
                                <th rowspan="2">15:00</th>
                                <td id="lunes1500"></td>
                                <td id="maartes1500"></td>
                                <td id="miercoles1500"></td>
                                <td id="jueves1500"></td>
                                <td id="viernes1500"></td>
                                <td id="sabado1500"></td>
                            </tr>
                            <tr id="row1530">
                                <td id="lunes1530"></td>
                                <td id="maartes1530"></td>
                                <td id="miercoles1530"></td>
                                <td id="jueves1530"></td>
                                <td id="viernes1530"></td>
                                <td id="sabado1530"></td>
                            </tr>
                            <tr id="row1600">
                                <th rowspan="2">16:00</th>
                                <td id="lunes1600"></td>
                                <td id="maartes1600"></td>
                                <td id="miercoles1600"></td>
                                <td id="jueves1600"></td>
                                <td id="viernes1600"></td>
                                <td id="sabado1600"></td>
                            </tr>
                            <tr id="row1630">
                                <td id="lunes1630"></td>
                                <td id="maartes1630"></td>
                                <td id="miercoles1630"></td>
                                <td id="jueves1630"></td>
                                <td id="viernes1630"></td>
                                <td id="sabado1630"></td>
                            </tr>
                            <tr id="row1700">
                                <th rowspan="2">17:00</th>
                                <td id="lunes1700"></td>
                                <td id="maartes1700"></td>
                                <td id="miercoles1700"></td>
                                <td id="jueves1700"></td>
                                <td id="viernes1700"></td>
                                <td id="sabado1700"></td>
                            </tr>
                            <tr id="row1730">
                                <td id="lunes1730"></td>
                                <td id="maartes1730"></td>
                                <td id="miercoles1730"></td>
                                <td id="jueves1730"></td>
                                <td id="viernes1739"></td>
                                <td id="sabado1730"></td>
                            </tr>
                            <tr id="row1800">
                                <th rowspan="2">18:00</th>
                                <td id="lunes1800"></td>
                                <td id="maartes1800"></td>
                                <td id="miercoles1800"></td>
                                <td id="jueves1800"></td>
                                <td id="viernes1800"></td>
                                <td id="sabado1800"></td>
                            </tr>
                            <tr id="row1830">
                                <td id="lunes1830"></td>
                                <td id="maartes1830"></td>
                                <td id="miercoles1830"></td>
                                <td id="jueves1830"></td>
                                <td id="viernes1830"></td>
                                <td id="sabado1830"></td>
                            </tr>
                            <tr id="row1900">
                                <th rowspan="2">19:00</th>
                                <td id="lunes1900"></td>
                                <td id="maartes1900"></td>
                                <td id="miercoles1900"></td>
                                <td id="jueves1900"></td>
                                <td id="viernes1900"></td>
                                <td id="sabado1900"></td>
                            </tr>
                            <tr id="row1930">
                                <td id="lunes1930"></td>
                                <td id="maartes1930"></td>
                                <td id="miercoles1930"></td>
                                <td id="jueves1930"></td>
                                <td id="viernes1930"></td>
                                <td id="sabado1930"></td>
                            </tr>
                            <tr id="row2000">
                                <th rowspan="2">20:00</th>
                                <td id="lunes2000"></td>
                                <td id="maartes2000"></td>
                                <td id="miercoles2000"></td>
                                <td id="jueves2000"></td>
                                <td id="viernes2000"></td>
                                <td id="sabado2000"></td>
                            </tr>
                            <tr id="row2030">
                                <td id="lunes2030"></td>
                                <td id="maartes2030"></td>
                                <td id="miercoles2030"></td>
                                <td id="jueves2030"></td>
                                <td id="viernes2030"></td>
                                <td id="sabado2030"></td>
                            </tr>
                            <tr id="row2100">
                                <th rowspan="2">21:00</th>
                                <td id="lunes2100"></td>
                                <td id="maartes2100"></td>
                                <td id="miercoles2100"></td>
                                <td id="jueves2100"></td>
                                <td id="viernes2100"></td>
                                <td id="sabado2100"></td>
                            </tr>
                            <tr id="row2130">
                                <td id="lunes2130"></td>
                                <td id="maartes2130"></td>
                                <td id="miercoles2130"></td>
                                <td id="jueves2130"></td>
                                <td id="viernes2130"></td>
                                <td id="sabado2130"></td>
                            </tr>
                            <tr id="row2200">
                                <th rowspan="2">22:00</th>
                                <td id="lunes2200"></td>
                                <td id="maartes2200"></td>
                                <td id="miercoles2200"></td>
                                <td id="jueves2200"></td>
                                <td id="viernes2200"></td>
                                <td id="sabado2200"></td>
                            </tr>
                            <tr id="row2230">
                                <td id="lunes2230"></td>
                                <td id="maartes2230"></td>
                                <td id="miercoles2230"></td>
                                <td id="jueves2230"></td>
                                <td id="viernes2230"></td>
                                <td id="sabado2230"></td>
                            </tr>
                            <tr id="row2300">
                                <th rowspan="2">23:00</th>
                                <td id="lunes"></td>
                                <td id="maartes2300"></td>
                                <td id="miercoles2300"></td>
                                <td id="jueves2300"></td>
                                <td id="viernes2300"></td>
                                <td id="sabado2300"></td>
                            </tr>
                            <tr id="row2330">
                                <td id="lunes2330"></td>
                                <td id="maartes2330"></td>
                                <td id="miercoles2330"></td>
                                <td id="jueves2330"></td>
                                <td id="viernes2330"></td>
                                <td id="sabado2330"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Materias Curriculares
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne1">
                                            <h4 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                                    Materia #1
                                                </button>
                                            </h4>
                                        </div>
                                        <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion #accordion">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 7:30-9:00<br>Dias: Lu Ju <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button  type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('lunes', 730, 900,'jueves', 'A')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 7:30-9:00<br>Dias: Ma Vi <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button  type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('maartes', 730, 900,'viernes', 'B')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne2">
                                            <h4 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                                    Materia #2
                                                </button>
                                            </h4>
                                        </div>
                                        <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordion #accordion">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 9:00-10:30<br>Dias: Lu Ju <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('lunes', 900,1030,'jueves', 'C')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 10:30-12:00<br>Dias: Lu Ju <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button  type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('lunes', 1030, 1200,'jueves', 'D')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Materias Formativas
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo1">
                                            <h4 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                                    Materia #1
                                                </button>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordion #accordion">
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 7:30-9:00<br>Dias: Lu Ju <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button  type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('lunes', 730, 900,'jueves', 'E')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    Nombre Profesor<br>Horario: 7:30-9:00<br>Dias: Ma Vi <br>Salon<br># Unidades
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <button  type="button" class="btn btn-Seleccionar"  onClick="materiaSeleccionada('maartes', 730, 900,'viernes', 'F')" value="Change Content">Seleccionar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-secondary" >Consulta de Turno</button>
                    <button type="button" class="btn btn-secondary" href="../html/menuprincipal.html">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary">Simulacion de Horario</button>
                </div>
            </div>
        </div>
    </div>
