<!--Servicios-->
<div align="center">

    <h4 style="color:#223F92">Selección de servicios</h4>
    <br>
    <div style="background-color:#223F92">
        <a style="color:#FFFFFF">Seguro de pago de colegiatura</a>
    </div>

    <div >
        <input type="checkbox" aria-label="Checkbox for following text input"><a style="color:#223F92"> Importe </a> <a id="61">$$$$$$</a>
    </div>

    <br>
    <br>

    <div style="background-color:#223F92">
        <a style="color:#FFFFFF">Seguro de gastos médicos mayores</a>
    </div>

    <div >
        <input type="radio" aria-label="Checkbox for following text input"><a style="color:#223F92">Cobertura normal</a><br><a style="color:#223F92"> Importe </a> <a id="62">$$$$$$</a>
        <br><br>
        <input type="radio" aria-label="Checkbox for following text input"><a style="color:#223F92">Cobertura méxima</a><br><a style="color:#223F92"> Importe </a> <a id="63">$$$$$$</a>
        <br><br>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Cancelar seguro</button>
    </div>
    <br><br><br>
    <div>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Salir sin cambios</button>
        <button type="button" class="btn btn-primary btn-sm" style="background-color: #223F92">Registrar cambios</button>
    </div>


</div>
