<!--Estatus de inscripcion-->
<div align="center">
    <h4 style="color:#223F92">Estatus de inscripción</h4>
    <br>
    <div style="background-color:#223F92; color:#FFFFFF" align="center">
	
	
        <a>Horario</a>  <img src="assets/images/ye.png" alt="estatus1" width="30px" style="max-width:200px">
        <br>
        <a>Registro Administrativo</a> <img src="assets/images/prob.png" alt="estatus1" width="30px" style="max-width:200px">
        <br>
        <a>Pago de colegiatura</a> <img src="assets/images/ex.png" alt="estatus1" width="30px" style="max-width:200px">
        <br>
    </div>
    <br>

    <!--Botones-->
    <div>
        <a routerLink="/schedule" class="btn btn-outline-light btn-lg btn-block" style="background-color: #FFFFFF; color:#223F92">
            <span><i class="material-icons md-36 blue">schedule</i></span> Horario
        </a>
	
        <a routerLink="/services" class="btn btn-outline-light btn-lg btn-block" style="background-color: #FFFFFF; color:#223F92">
            <span><i class="material-icons md-36 blue">supervisor_account</i></span> Servicios
        </a>
	
        <a routerLink="/registry" class="btn btn-outline-light btn-lg btn-block" style="background-color: #FFFFFF; color:#223F92">
            <span><i class="material-icons md-36 blue">assignment</i></span> Registro
        </a>
	
        <a routerLink="/payments" class="btn btn-outline-light btn-lg btn-block" style="background-color: #FFFFFF; color:#223F92">
            <span><i class="material-icons md-36 blue">attach_money</i></span> Pago
        </a>	
    </div>
</div>
